tags*
.config/
config/
config_db/
db/
.env
acme.json
assets
favd
data
db.env
firefly/.env_firefly
firefly/.env_firefly_db
filebrowser/.filebrowser.json
filebrowser/filebrowser.db
n8n/n8n/
dokuwiki/config*
lychee/lychee
spleeter/input
spleeter/output
desktop.ini
yet-another-config/.pre-commit-config.yaml
yet-another-config/README.md
yet-another-config/Ansible/Installation/readme.md
yet-another-config/Ansible/Playbooks/Update/readme.md
yet-another-config/Ansible/Playbooks/Update/update-builtin.yml
yet-another-config/Ansible/Playbooks/Update/update.yml
yet-another-config/Ansible/SSH/readme.md
yet-another-config/Authelia/Authelia/configuration.yml
yet-another-config/Authelia/Authelia/docker-compose.yaml
yet-another-config/Authelia/Authelia/users_database.yml
yet-another-config/Authelia/Nginx/docker-compose.yaml
yet-another-config/Authelia/Traefik/docker-compose.yaml
yet-another-config/Authentik/docker-compose.yaml
yet-another-config/Authentik/Web-Proxies/authentik-docker-compose.yaml
yet-another-config/Authentik/Web-Proxies/example-nginx-docker-compose.yaml
yet-another-config/Authentik/Web-Proxies/traefik-conf.yaml
yet-another-config/Cloudflare-Tunnel/docker-compose.yaml
yet-another-config/Cloudflare-Tunnel/macvlan
yet-another-config/Code-Server/docker-compose.yaml
yet-another-config/Crowdsec/acquis.yaml
yet-another-config/Crowdsec/docker-compose.yml
yet-another-config/Crowdsec/Traefik/config.yaml
yet-another-config/Crowdsec/Traefik/traefik.yaml
yet-another-config/Docker-Swarm/portainer-agent-stack.yml
yet-another-config/Docker-Swarm/swarm-3-nodes.sh
yet-another-config/Docker-Swarm/swarm.sh
yet-another-config/Frigate/config.yml
yet-another-config/Frigate/docker-compose.yaml
yet-another-config/GPU_passthrough/readme.md
yet-another-config/Gitea/docker-compose.yaml
yet-another-config/Gotify/docker-compose.yaml
yet-another-config/Grafana-Monitoring/docker-compose.yaml
yet-another-config/Grafana-Monitoring/prometheus.yml
yet-another-config/Grafana-Monitoring/telegraf.conf
yet-another-config/Grafana-Monitoring/Part-2/mibs.txt
yet-another-config/Grafana-Monitoring/Part-2/prometheus.yml
yet-another-config/Grafana-Monitoring/Part-2/telegraf.conf
yet-another-config/Headscale/config.yaml
yet-another-config/Headscale/docker-compose.yaml
yet-another-config/Headscale/Tailscale-Client/docker-compose,yaml
yet-another-config/Headscale/with-Traefik/docker-compose.yaml
yet-another-config/Homelab-Buyer's-Guide/Q3-2023.md
yet-another-config/Homepage/Homepage/docker-compose.yaml
yet-another-config/Homepage/Homepage/services.yaml
yet-another-config/Immich/docker-compose.yaml
yet-another-config/Immich/hwaccel.yml
yet-another-config/Jellyfin/docker-compose.yml
yet-another-config/Jitsi/docker-compose.yml
yet-another-config/Jitsi/gen-passwords.sh
yet-another-config/Keycloak/docker-compose.yaml
yet-another-config/Kubernetes/Cloud-Init/readme.md
yet-another-config/Kubernetes/Create-VMS/create-vms.sh
yet-another-config/Kubernetes/Create-VMS/readme.md
yet-another-config/Kubernetes/Create-manifest-helm/readme.md
yet-another-config/Kubernetes/Create-manifest-helm/Portainer/default-headers.yaml
yet-another-config/Kubernetes/Create-manifest-helm/Portainer/ingress.yaml
yet-another-config/Kubernetes/Create-manifest-helm/Portainer/values.yaml
yet-another-config/Kubernetes/Create-manifest-helm/WireGuard-Easy/default-headers.yaml
yet-another-config/Kubernetes/Create-manifest-helm/WireGuard-Easy/deployment.yaml
yet-another-config/Kubernetes/Create-manifest-helm/WireGuard-Easy/ingress.yaml
yet-another-config/Kubernetes/Create-manifest-helm/WireGuard-Easy/ingressRouteUDP.yaml
yet-another-config/Kubernetes/CrowdSec/readme.md
yet-another-config/Kubernetes/CrowdSec/Bouncer/bouncer-middleware.yaml
yet-another-config/Kubernetes/CrowdSec/CrowdSec/values.yaml
yet-another-config/Kubernetes/CrowdSec/Reflector/values.yaml
yet-another-config/Kubernetes/CrowdSec/Traefik/values.yaml
yet-another-config/Kubernetes/Docker-Kubernetes-Data-Migration/readme.md
yet-another-config/Kubernetes/GPU-Passthrough/jellyfin.yaml
yet-another-config/Kubernetes/GPU-Passthrough/readme.md
yet-another-config/Kubernetes/GitOps/readme.md
yet-another-config/Kubernetes/GitOps/Gotify/default-headers.yaml
yet-another-config/Kubernetes/GitOps/Gotify/deployment.yaml
yet-another-config/Kubernetes/GitOps/Gotify/ingress.yaml
yet-another-config/Kubernetes/GitOps/Grafana/fleet.yaml
yet-another-config/Kubernetes/GitOps/Grafana/values.yaml
yet-another-config/Kubernetes/K3S-Deploy/ipAddressPool
yet-another-config/Kubernetes/K3S-Deploy/k3s.sh
yet-another-config/Kubernetes/K3S-Deploy/kube-vip
yet-another-config/Kubernetes/K3S-Deploy/l2Advertisement.yaml
yet-another-config/Kubernetes/K3S-Deploy/readme.md
yet-another-config/Kubernetes/Kubernetes-Lite/k3s.sh
yet-another-config/Kubernetes/Longhorn/longhorn-K3S.sh
yet-another-config/Kubernetes/Longhorn/longhorn-RKE2.sh
yet-another-config/Kubernetes/Longhorn/longhorn.yaml
yet-another-config/Kubernetes/Longhorn/readme.md
yet-another-config/Kubernetes/NetworkPolicies/allow-all-ingress.yaml
yet-another-config/Kubernetes/NetworkPolicies/default-deny-all-ingress.yaml
yet-another-config/Kubernetes/NetworkPolicies/example.yaml
yet-another-config/Kubernetes/NetworkPolicies/namespace-example.yaml
yet-another-config/Kubernetes/NetworkPolicies/networkpolicy-egress.yaml
yet-another-config/Kubernetes/NetworkPolicies/networkpolicy-ingress.yaml
yet-another-config/Kubernetes/NetworkPolicies/port-example.yaml
yet-another-config/Kubernetes/RKE2/ipAddressPool
yet-another-config/Kubernetes/RKE2/kube-vip
yet-another-config/Kubernetes/RKE2/l2Advertisement.yaml
yet-another-config/Kubernetes/RKE2/rke2.sh
yet-another-config/Kubernetes/RKE2-Cilium/rke2-cilium-config.yaml
yet-another-config/Kubernetes/RKE2-Cilium/rke2.sh
yet-another-config/Kubernetes/Rancher-Deployment/readme.md
yet-another-config/Kubernetes/SMB/deployment.yaml
yet-another-config/Kubernetes/SMB/pv-smb.yaml
yet-another-config/Kubernetes/SMB/pvc-smb.yaml
yet-another-config/Kubernetes/SMB/readme.md
yet-another-config/Kubernetes/Traefik-External-Service/default-headers.yaml
yet-another-config/Kubernetes/Traefik-External-Service/ingress.yaml
yet-another-config/Kubernetes/Traefik-External-Service/service.yaml
yet-another-config/Kubernetes/Traefik-PiHole/deploy.sh
yet-another-config/Kubernetes/Traefik-PiHole/readme.md
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/default-headers.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/values.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Cert-Manager/values.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Cert-Manager/Certificates/Production/jimsgarage-production.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Cert-Manager/Issuers/letsencrypt-production.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Cert-Manager/Issuers/secret-cf-token.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Dashboard/ingress.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Dashboard/middleware.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Helm/Traefik/Dashboard/secret-dashboard.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Manifest/PiHole/default-headers.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Manifest/PiHole/ingress.yaml
yet-another-config/Kubernetes/Traefik-PiHole/Manifest/PiHole/PiHole-Deployment.yaml
yet-another-config/Kubernetes/Upgrade/readme.md
yet-another-config/LXC/Jellyfin/docker-compose.yaml
yet-another-config/LXC/Jellyfin/readme.md
yet-another-config/LXC/NAS/readme.md
yet-another-config/Logo/Jim's Garage-1 (1).mp4
yet-another-config/Logo/Jim's Garage-1 (1).png
yet-another-config/Logo/Jim's Garage-1 (2).png
yet-another-config/Logo/Jim's Garage-1 (3).png
yet-another-config/Logo/Jim's Garage-1 (4).png
yet-another-config/Logo/Jim's Garage-1 (5).png
yet-another-config/Logo/Jim's Garage-1.mp4
yet-another-config/Logo/Jim's Garage-1.png
yet-another-config/Logo/Jim'sGarage-1(2).png
yet-another-config/Minecraft/docker-compose.yaml
yet-another-config/Minecraft/macvlan
yet-another-config/Minecraft/Kubernetes/deployment.yaml
yet-another-config/Minecraft/Kubernetes/networkpolicy.yaml
yet-another-config/Nextcloud/docker-compose.yaml
yet-another-config/Ollama/docker-compose.yml
yet-another-config/Ollama/readme.md
yet-another-config/Paperless-ngx/docker-compose.yaml
yet-another-config/Pihole/docker-compose.yml
yet-another-config/Pihole/ubuntu port 53 fix
yet-another-config/Portainer/docker-compose.yaml
yet-another-config/Proxmox-Backup-Server/readme.md
yet-another-config/Proxmox-NAS/config.yml
yet-another-config/Proxmox-NAS/docker-compose.yaml
yet-another-config/Synapse/docker-compose.yaml
yet-another-config/Synapse/homeserver.yaml
yet-another-config/Synapse/readme.md
yet-another-config/Synapse/mautrix-discord-bridge/docker-compose.yaml
yet-another-config/Synapse/mautrix-discord-bridge/example-config.yaml
yet-another-config/Synapse/mautrix-discord-bridge/example-registration.yaml
yet-another-config/Terraform/providers.tf
yet-another-config/Terraform/test-cloudinit.tf
yet-another-config/Torrent-VPN/docker-compose.yml
yet-another-config/Traefik/docker-compose.yml
yet-another-config/Traefik/traefik-config/config.yml
yet-another-config/Traefik/traefik-config/traefik.yml
yet-another-config/Traefik-Secure/config.yaml
yet-another-config/Traefik-Secure/docker-compose.yaml
yet-another-config/Traefik-Secure/traefik.yaml
yet-another-config/Trilium/docker-compose.yaml
yet-another-config/Unbound/a-records.conf
yet-another-config/Unbound/docker-compose-vpn.yaml
yet-another-config/Unbound/docker-compose.yaml
yet-another-config/Unbound/forward-records.conf
yet-another-config/Unbound/srv-records.conf
yet-another-config/Unbound/unbound.conf
yet-another-config/Unifi-Controller/docker-compose.yaml
yet-another-config/Unifi-Controller/init-mongo.js
yet-another-config/UptimeKuma/docker-compose.yaml
yet-another-config/Vaultwarden/docker-compose.yaml
yet-another-config/Vikunja/docker-compose.yaml
yet-another-config/Web-Servers/Hugo/docker-compose.yaml
yet-another-config/Web-Servers/Hugo/site-build-command
yet-another-config/Web-Servers/Nginx/docker-compose.yaml
yet-another-config/Web-Servers/WordPress/docker-compose.yaml
yet-another-config/Wireguard/docker-compose.yml
yet-another-config/Zitadel/docker-compose.yaml
yet-another-config/Zitadel/example-zitadel-config.yaml
yet-another-config/Zitadel/example-zitadel-init-steps.yaml
yet-another-config/Zitadel/example-zitadel-secrets.yaml
yet-another-config/rClone/docker-compose.yml
yet-another-config/rClone/remote-upload
yet-another-config/rClone/sync_script
yet-another-config/rClone/mount/docker-compose.yml
yet-another-config/rClone/mount/windows_mount.bat
yet-another-config/restic/docker-compose.yml
